body {
    font-family: 'Roboto Slab', 'sans serif';
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #E0E0E0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #121212;
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
    color: #E0E0E0;
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 70px 0;
}

.sidebar ul li a {
    color: #1DB954;
    text-decoration: none;
    font-size: 18px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.chat-container {
    background-color: #333333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    overflow: hidden;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.input {
    border: none;
    border-top: 1px solid #3D3D3D;
    padding: 10px;
    background-color: #121212;
    color: #E0E0E0;
    width: 100%;
    box-sizing: border-box;
}











.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', 'sans serif';
    background-color: #121212;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: #121212;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0 0 20px;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3D3D3D;
    border-radius: 5px;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: all 0.2s;
    color: #E0E0E0;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #E0E0E0;
    background: #121212;
    padding: 0 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color: #E0E0E0;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
